nodered settings/flows.json
[{"id":"1e6a8563.6a1d2b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a5d6083.1b3f88","type":"mqtt in","z":"1e6a8563.6a1d2b","name":"Valve 1","topic":"nodered/kitchen/valve/1","qos":"2","datatype":"auto","broker":"109ccef0.a62f19","nl":false,"rap":true,"rh":0,"x":260,"y":540,"wires":[["80175df2.1d0c"]]},{"id":"80175df2.1d0c","type":"json","z":"1e6a8563.6a1d2b","name":"","property":"payload","action":"","pretty":false,"x":450,"y":540,"wires":[["42265bd7.3ad9b4","1f66a629.03ad5a"]]},{"id":"42265bd7.3ad9b4","type":"python3-function","z":"1e6a8563.6a1d2b","name":"","func":"message = msg[\"payload\"]\nstatus = message[\"e\"][0][\"v\"]\nif status == 1:\n    msg[\"payload\"] = \"on\"\nelif status == 0:\n    msg[\"payload\"] = \"off\"\nelse:\n    pass\n\nreturn msg","outputs":1,"x":670,"y":540,"wires":[["db54e3ad.c3bb5"]]},{"id":"e9f6ae2b.5217b8","type":"ui_switch","z":"1e6a8563.6a1d2b","name":"Valve 1 Switch","label":"switch","tooltip":"","group":"706d18b6.1149b8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"kitchen/valve/1","topicType":"str","style":"","onvalue":"{\"bn\":\"nodered/kitchen/valve/1\",\"bnn\":\"kitchen/valve/1\",\"e\":[{\"id\":\"201\",\"n\":\"switch\",\"v\":1}]}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"bn\":\"nodered/kitchen/valve/1\",\"bnn\":\"kitchen/valve/1\",\"e\":[{\"id\":\"201\",\"n\":\"switch\",\"v\":0}]}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":420,"y":760,"wires":[["fe093439.9a4958"]]},{"id":"db54e3ad.c3bb5","type":"ui_text","z":"1e6a8563.6a1d2b","group":"706d18b6.1149b8","order":2,"width":0,"height":0,"name":"Valve 1 Status","label":"The Valve1 is","format":"{{msg.payload}}","layout":"col-center","x":940,"y":540,"wires":[]},{"id":"fe093439.9a4958","type":"mqtt out","z":"1e6a8563.6a1d2b","name":"Valve 1","topic":"kitchen/valve/1","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"109ccef0.a62f19","x":680,"y":760,"wires":[]},{"id":"1f66a629.03ad5a","type":"python3-function","z":"1e6a8563.6a1d2b","name":"","func":"message = msg[\"payload\"]\nstatus = message[\"e\"][0][\"v\"]\nif status == 1:\n    msg[\"payload\"] = {\n            \"bn\": \"nodered/kitchen/valve/1\",\n            \"bnn\": \"kitchen/valve/1\",\n            \"e\": [\n                {\n                    \"id\": \"201\",\n                    \"n\": \"switch\",\n                    \"v\": 1\n                }\n            ]\n        }\nelif status == 0:\n    msg[\"payload\"] = {\n            \"bn\": \"nodered/kitchen/valve/1\",\n            \"bnn\": \"kitchen/valve/1\",\n            \"e\": [\n                {\n                    \"id\": \"201\",\n                    \"n\": \"switch\",\n                    \"v\": 0\n                }\n            ]\n        }\nelse:\n    pass\n\nreturn msg","outputs":1,"x":600,"y":660,"wires":[["e9f6ae2b.5217b8"]]},{"id":"fa15a549.ca8238","type":"mqtt in","z":"1e6a8563.6a1d2b","name":"Valve 2","topic":"nodered/kitchen/valve/2","qos":"2","datatype":"auto","broker":"109ccef0.a62f19","nl":false,"rap":true,"rh":0,"x":250,"y":900,"wires":[["b1c52952.52eb4"]]},{"id":"b1c52952.52eb4","type":"json","z":"1e6a8563.6a1d2b","name":"","property":"payload","action":"","pretty":false,"x":440,"y":900,"wires":[["1589703c.ff19d","6cd0f902.ec395"]]},{"id":"1589703c.ff19d","type":"python3-function","z":"1e6a8563.6a1d2b","name":"","func":"message = msg[\"payload\"]\nstatus = message[\"e\"][0][\"v\"]\nif status == 1:\n    msg[\"payload\"] = \"on\"\nelif status == 0:\n    msg[\"payload\"] = \"off\"\nelse:\n    pass\n\nreturn msg","outputs":1,"x":660,"y":900,"wires":[["e55ad0ea.8636a"]]},{"id":"fdd34e2b.703268","type":"ui_switch","z":"1e6a8563.6a1d2b","name":"Valve 2 Switch","label":"switch","tooltip":"","group":"fdc18bde.a884c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"kitchen/valve/2","topicType":"str","style":"","onvalue":"{\"bn\":\"nodered/kitchen/valve/2\",\"bnn\":\"kitchen/valve/2\",\"e\":[{\"id\":\"202\",\"n\":\"switch\",\"v\":1}]}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"bn\":\"nodered/kitchen/valve/2\",\"bnn\":\"kitchen/valve/2\",\"e\":[{\"id\":\"202\",\"n\":\"switch\",\"v\":0}]}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":410,"y":1120,"wires":[["dda08ab8.db433"]]},{"id":"e55ad0ea.8636a","type":"ui_text","z":"1e6a8563.6a1d2b","group":"fdc18bde.a884c","order":2,"width":0,"height":0,"name":"Valve 2 Status","label":"The Valve2 is","format":"{{msg.payload}}","layout":"col-center","x":930,"y":900,"wires":[]},{"id":"dda08ab8.db433","type":"mqtt out","z":"1e6a8563.6a1d2b","name":"Valve 2","topic":"kitchen/valve/2","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"109ccef0.a62f19","x":670,"y":1120,"wires":[]},{"id":"6cd0f902.ec395","type":"python3-function","z":"1e6a8563.6a1d2b","name":"","func":"message = msg[\"payload\"]\nstatus = message[\"e\"][0][\"v\"]\nif status == 1:\n    msg[\"payload\"] = {\n            \"bn\": \"nodered/kitchen/valve/2\",\n            \"bnn\": \"kitchen/valve/2\",\n            \"e\": [\n                {\n                    \"id\": \"202\",\n                    \"n\": \"switch\",\n                    \"v\": 1\n                }\n            ]\n        }\nelif status == 0:\n    msg[\"payload\"] = {\n            \"bn\": \"nodered/kitchen/valve/2\",\n            \"bnn\": \"kitchen/valve/2\",\n            \"e\": [\n                {\n                    \"id\": \"202\",\n                    \"n\": \"switch\",\n                    \"v\": 0\n                }\n            ]\n        }\nelse:\n    pass\n\nreturn msg","outputs":1,"x":590,"y":1020,"wires":[["fdd34e2b.703268"]]},{"id":"109ccef0.a62f19","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"706d18b6.1149b8","type":"ui_group","name":"Valve 1","tab":"99d012e1.5631a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fdc18bde.a884c","type":"ui_group","name":"Valve 2","tab":"99d012e1.5631a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"99d012e1.5631a8","type":"ui_tab","name":"Kitchen","icon":"dashboard","disabled":false,"hidden":false}]